extends layoutInfoSemanal

block content
	table.table.table-bordered
		thead
			tr
				th(rowspan="2",style="width:20px;") DIA
				th(rowspan="2",style="width:20px;") RUTA
				th(class="rotat",rowspan="2",style="width:35px;background:yellow;")
					div
						span SECCION
				th(class="rotat",rowspan="2")
					div
						span KILOMETRO INICIAL
				th(class="rotat",rowspan="2")
					div
						span KILOMETRO FINAL
				th(class="rotat",rowspan="2")
					div
						span NUMERO ACTIVIDAD
				th(class="rotat",rowspan="2")
					div
						span TRABAJO EJECUTADO
				th(colspan="4",style="text-align:center;")
					div
						span PERSONAL
				th(colspan="4",style="text-align:center;")
					div
						span MATERIALES
				th(colspan="6",style="text-align:center;")
					div
						span EQUIPOS
				th(rowspan="2",style="text-align:center")
					div
						span OBSERVACIONES
			tr
				th(class="rotat",style="width:35px;background:yellow;")
					div
						span CLASE
				th(class="rotat")
					div
						span HORAS REGULARES
				th(class="rotat",style="width:35px;background:yellow;")
					div
						span CLASE
				th(class="rotat")
					div
						span HORAS REGULARES
				th(class="rotat",style="width:35px;background:yellow;")
					div
						span CLASE
				th(style="width:20px;")
					div
						span CANTIDAD
				th(class="rotat",style="width:35px;background:yellow;")
					div
						span CLASE
				th(style="width:20px;")
					div
						span CANTIDAD
				th(class="rotat",style="width:35px;background:yellow;")
					div
						span CLASE
				th(class="rotat")
					div
						span NUMERO INTERNO
				th(class="rotat")
					div
						span HORAS UTILIZADAS
				th(class="rotat",style="width:35px;background:yellow;")
					div
						span CLASE
				th(class="rotat")
					div
						span NUMERO INTERNO
				th(class="rotat")
					div
						span HORAS UTILIZADAS
		tboby
			tr
				td 1
				td 2
				td 3
				td 4
				td 5
				td 6
				td 7
				td 8
				td 9
				td 10
				td 11
				td 12
				td 13
				td 14
				td 15
				td 16
				td 17
				td 18
				td 19
				td 20
				td 21
				td 22
			tr
				td 1
				td 2
				td 3
				td 4
				td 5
				td 6
				td 7
				td 8
				td 9
				td 10
				td 11
				td 12
				td 13
				td 14
				td 15
				td 16
				td 17
				td 18
				td 19
				td 20
				td 21
				td 22