extends layoutInfoSemanal

block content
    h2 Informe Semanal de Actividades
    table.table.table-bordered(style="width:95%;margin:0 auto;")
        thead
            tr.head1
                th(rowspan="2",style="width:20px;")
                    div
                        span DIA

                th(class="rotat",rowspan="2")
                    div
                        span KILOMETRO INICIAL
                th(class="rotat",rowspan="2")
                    div
                        span KILOMETRO FINAL
                th(class="rotat",rowspan="2")
                    div
                        span NUMERO ACTIVIDAD
                th(class="rotat",rowspan="2")
                    div
                        span TRABAJO EJECUTADO
                th(colspan="4",style="text-align:center;")
                    div
                        span PERSONAL
                th(colspan="4",style="text-align:center;")
                    div
                        span MATERIALES
                th(colspan="6",style="text-align:center;")
                    div
                        span EQUIPOS
                th(rowspan="2",style="text-align:center")
                    div
                        span OBSERVACIONES
            tr.head2
                th(class="rotat",style="width:35px;")
                    div
                        span CLASE
                th(class="rotat")
                    div
                        span HORAS REGULARES
                th(class="rotat",style="width:35px;")
                    div
                        span CLASE
                th(class="rotat")
                    div
                        span HORAS REGULARES
                th(class="rotat",style="width:35px;")
                    div
                        span CLASE
                th(style="width:20px;")
                    div
                        span CANTIDAD
                th(class="rotat",style="width:35px;")
                    div
                        span CLASE
                th(style="width:20px;")
                    div
                        span CANTIDAD
                th(class="rotat",style="width:35px;")
                    div
                        span CLASE
                th(class="rotat")
                    div
                        span NUMERO INTERNO
                th(class="rotat")
                    div
                        span HORAS UTILIZADAS
                th(class="rotat",style="width:35px;")
                    div
                        span CLASE
                th(class="rotat")
                    div
                        span NUMERO INTERNO
                th(class="rotat")
                    div
                        span HORAS UTILIZADAS
        tboby
            tr
                td 1
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td 4
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')