doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styleQuincenal.css')
    link(rel='stylesheet', href='/stylesheets/pickmeup.css', type="text/css")
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src="/javascripts/jquery.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/principalQuincenal.js")
  body
    block content