doctype html
html
  head
    title Localizacion en Tiempo Real SEDECA
    link(rel='stylesheet', href='/stylesheets/leaflet.css')
    link(rel='stylesheet', href='/stylesheets/styleGeo.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src="/javascripts/jquery.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/leaflet.js")
    script(src="/javascripts/AccuratePosition.js")
    script(src="/javascripts/puntos.js")
    script(src="/javascripts/main.js")
    script(src="/javascripts/Mensajes.js")
  body
    block content