#modalUser.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
  .modal-dialog
    .modal-content(style='margin-top: 80px;')
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#myModalLabel.modal-title DATOS PERSONALES
      .modal-body.User(style='height: 400px;')
        .row.col-md-12
          p.col-md-4(style='font-weight: bold;font-size: 1.5em;') Nombres:
          p.nomC.col-md-8.titModalUser(style='font-weight: 100;font-size: 1.4em;color:#969494')
          .form-group.col-md-8.form1.has-success.has-feedback.formulariosRegistro(style='padding:0')
            input.form-control.apellidoR.n(type='text', placeholder='Nombres y Apellidos',name="nombres")
            span(class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true")
        .row.col-md-12
          p.col-md-4(style='font-weight: bold;font-size: 1.5em;') Nick:
          p.col-md-8.nicC.titModalUser(style='font-weight: 100;font-size: 1.4em;color:#969494')
          .form-group.col-md-8.form2.has-success.has-feedback.formulariosRegistro(style='padding:0')
            input.form-control.nombreR.k(type='text', placeholder='Mayor a 10 caracteres Ejemplo: Limbert1990',name="nick")
            span(class="glyphicon glyphicon-ok form-control-feedback")
        .row.col-md-12
          p.col-md-4(style='font-weight: bold;font-size: 1.5em;') Ci:
          p.ciC.col-md-8.titModalUser(style='font-weight: 100;font-size: 1.4em;color:#969494')
          .form-group.col-md-8.form3.has-success.has-feedback.formulariosRegistro(style='padding:0')
            input.form-control.ci.i(type='number', placeholder='Carnet de Identidad',name="ci")
            span(class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true")
        .row.col-md-12
          p.col-md-4(style='font-weight: bold;font-size: 1.5em;') Cargo:
          p.carC.col-md-8(style='font-weight: 100;font-size: 1.4em;color:#969494')
        .row.col-md-12
          p.col-md-4(style='font-weight: bold;font-size: 1.5em;') Domicilio:
          p.domC.col-md-8.titModalUser(style='font-weight: 100;font-size: 1.4em;color:#969494')
          .form-group.col-md-8.form7.has-success.has-feedback.formulariosRegistro(style='padding:0')
            input.form-control.domicilioR.d(type='text', placeholder='Ejemplo: Av.Maestro S/N',name="domicilio")
            span(class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true")
        .row.col-md-12
          p.col-md-4(style='font-weight: bold;font-size: 1.5em;') Telefono:
          p.telC.col-md-8.titModalUser(style='font-weight: 100;font-size: 1.4em;color:#969494')
          .form-group.col-md-8(style='padding:0')
            input.t.form-control(type='text', size='50', name='editDom')
        .row.col-md-12
          p.col-md-4(style='font-weight: bold;font-size: 1.5em;') Celular:
          p.celC.col-md-8.titModalUser(style='font-weight: 100;font-size: 1.4em;color:#969494')
          .form-group.col-md-8(style='padding:0')
            input.c.form-control(type='text', size='50', name='editDom')
      .modal-footer
        button.btn.btn-primary.edit(type='button', value='Editar') EDITAR
        button.btn.btn-default.acept(type='button', data-dismiss='modal', value='Aceptar') CANCELAR

